.container {
    width: 980px;
}

nav {
    height: 60px;
    padding-top: 15px;
    text-transform: uppercase;
    background: purple;
    color: #ffffff;
}

#menu {
    padding: 0 0 0 0;
    margin: 0 0 0 20px;
    border: 0 0 0 0;
}

ul#menu li {
    display: inline;
    padding: 5px;
    vertical-align: middle;
}

ul#menu a:link {
    color: #ffffff;
    vertical-align: middle;
    text-decoration: none;
    color: #ffffff;
}

#socialMenu {
    padding: 0 0 0 0;
    margin: 0 20px 0 0;
    border: 0 0 0 0;
}

ul#socialMenu li {
    display: inline;
    padding: 5px;
    vertical-align: middle;
}

ul#socialMenu a:link {
    color: #ffffff;
    vertical-align: middle;
    text-decoration: none;
}

.mainPhoto {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0 0 0 0;
    border: 0 0 0 0;
}

.skill img {
    width: 80px;
    border: 5px solid purple;
    border-radius: 30px;
    padding: 15px;
}

.skill {
    text-align: center;
    text-transform: uppercase;
    padding: 0 0 0 0;
    margin: 10px 0 10px 0;
    border: 50px 0 50px 0;
}

.aboutPhoto {
    width: 350px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: 0 0 0 0;
}

.aboutText {
    padding: 0 5px 0 5px;
    margin: 0 0 0 0;
    border: 0 0 0 0;
}

.funPhotos {
    text-align: center;
}

.funPhotos img {
    border: 5px solid white;
    border-radius: 5px;
    -webkit-box-shadow: 7px 6px 22px -5px rgba(0,0,0,0.53);
    -moz-box-shadow: 7px 6px 22px -5px rgba(0,0,0,0.53);
    box-shadow: 7px 6px 22px -5px rgba(0,0,0,0.53);
}

.funPhotos {
    height: 150px;
    padding-top: 30px;
}

.funPhotos img {
    width: 150px;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.photo1:hover img {
    width: 160px;
}

.photo2:hover img {
    width: 160px;
}

.photo3:hover img {
    width: 160px;
}

.photo4:hover img {
    width: 160px;
}

.photo5:hover img {
    width: 160px;
}

.photo6:hover img {
    width: 160px;
}

.portfolio {
    text-align: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: 0 0 0 0;
}
}
.border {
	border: 1px solid red;
}

